body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    
}

.container {
    width: 80%;
    margin: auto;

}

.search-bar {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 200px;
    height: 30px;
}


.phone-number {
    position: relative;
    top: -60px;
    margin: 1px 0;
    font-size: 1em;
    right: -30px;

}



.header {
    background-color: #f9f9f9;
    color: #020202;
    padding: 20px 0;

}

.header--flex {
    display: flex;
}

.header__title {
    margin: 0;
    font-size: 5em;
    margin-bottom: 100px;
    text-align: center;
}

.menu {
    list-style: none;
    margin:  0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu__item {
    margin: 0 25px;
}

.menu__link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    top: -90px;

}

.menu__link:hover {
    color: #920404;
}

.menu {
    background-color: #ffffff;
    color: #020202;
}



.slider__img {
    width: 100% ;
    height: 30%;
}


.main-content {
    background-color: #ffffff;
    padding: 20px 0;
}

.content-title {
    text-align: center;
    font-size: 2em;
}

.container-products {
    display: flex;
}

.product-box {
    width: 300px;
    margin: 50px;
    padding: 50px;
    text-align: center;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(154, 40, 40, 0.1); 
    transition: transform 0.3s ease-in-out; 
}

.product-box:hover {
    transform: scale(1.09);
}

.product-box__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.container-testimonials {
    text-align: center;
    margin-top: 40px;
}

.section-title {
    font-size: 2em;
    margin: 0;
    
}

.testimonial-title {
    font-size: 1.5em;
    margin: 10px 0;
}

.testimonial-txt {
    font-size: 1.2em;
}

.container-editor {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.editor-box {
    width: 29%;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.1);
    overflow: hidden;
}

.editor-box__img {
    width: 80%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.container-tips {
    display: flex;
    margin: 0px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tip-box {
    width: 46%;
    text-align: center;
    margin: 5px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.btn-shop {
    padding: 10px 30px;
    margin-top: 30px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    border: none;

}

.tip-box:hover {
    transform: scale(1.05);
}

.tip-title {
    font-size: 1.5em;
    margin: 0;
    color: #000000;
}


.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__section {
    width: 22%;
    margin: 20px;
}

.footer__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer__txt {
    font-size: 1.2em;
}

.footer__link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.footer__input {
    width: 50%;
    padding: 8px;
    margin-top: 10px;
}

.copy {
    font-size: 1.2em;
    color: #777;
    margin-top: 80px;
}


@media screen and (max-width: 768px) {
    .footer__section {
        width: 48%;
    }
}



@media screen and (max-width: 768px) {
    .container--flex {
        flex-direction: column;
       
    }

    
    .menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 100px;
    }


    .menu__item {
        margin: 10px 0;
    }

    .header__title {
        margin: 10px 0;
    }

    .header__link {
        margin: 10px 0;
    }

    .header__input {
        margin: 10px 0;
    }

    .container-products {
        flex-direction: column;
        align-items: center;
    }

    .product-box {
        width: 100%;
    }


    .phone-number,
    .search-bar {
        display: none;
    }
    
    .container-testimonials,
    .container-editor,
    .container-tips,
    .footer__section {
        width: 100%;
    }
}
